*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.container{
    height: 800px;
    width: 600px;
    margin: 20px auto;
    border: 2px solid #000;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-radius: 20px;
    
}

.imp-zone{
    height: 25%;
    width: 90%;
    background-color: #ababab;
    margin: 6px auto;
    border-radius: 20px;
    margin-top: 30px;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
}
.operation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 2.5em;
}
.result{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    font-size: 10.5em;
    flex-wrap: wrap;
}
.result, .operation, .imp-zone{
    color: #fff;
}
.button-zone{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    height: 60%;
    width: 90%;
    margin: 15px auto;
    align-items: space-evenly;
    justify-content: center;
    gap: 5px;
    margin-top: 40px;
}

.button{
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #Afafaf;
    transition: background .5s ease-in-out;
}

.button:hover{
    background-color: #000;;
    color: #Afafaf;
    border: 1px solid #fff;
}
.button:active{
    background-color: #fff;
    color: #000;
    border: 1px solid #Afafaf;
}
.delete{
    grid-column: 3/5;
}
.clear{
    grid-column: 1/3;
}